@import '../../variables.module';
@import '../../mixin.module';

.projects {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: $section-margin;

  &__title {
    font-size: 2rem;
    color: $accent-color-primary;
    text-transform: uppercase;

    @include mediaqueries (large) {
      font-size: 3rem;
    }
  }

  &__list {
    padding-top: 2rem;
    list-style: none;
    cursor: crosshair;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    @include mediaqueries (large) {
      width: 95%;
      margin: 0 auto;
    }
  }

  &__item-title {
    font-family: $lexend;
    font-size: 1.75rem;
    font-weight: 300;

    @include mediaqueries (large) {
      font-size: 2rem;
    }
  }

  &__item-discription {
    font-family: $lexend;
    font-weight: 100;

    @include mediaqueries (large) {
      font-size: 1.25rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;

    @include mediaqueries (large) {
      flex-direction: row;
      font-size: 1.5rem;
    }
  }

  &__link {
    font-family: $lexend;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: $link-color;
    cursor: pointer;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-hover-color;
    }

    &--live {
      &:hover {
        color: $accent-color-secondary;
      }
    }

  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: $typography-color-secondary;
    margin: .25rem 0;

    @include mediaqueries (large) {
      width: 1px;
      height: 25px;
      margin: 0 .75rem;
    }
  }

  &__hr {
    border: 1px solid $typography-color-secondary;
  }

  &__thumbnail-image {
    display: none;

    @include mediaqueries (medium) {
      display: block;
      position: fixed;
      width: 40vw;
      height: auto;
      z-index: -10;
      background-color: $shadow-color;
      transition: opacity .25s ease-in, display .5s ease-in;
      transform: translate(-50%, -50%);
      filter: drop-shadow(5px 5px 25px $shadow-color) grayscale(50%);
    }

    @include mediaqueries (large) {
      width: 30vw;
    }
  }

  &__animation-element {
    opacity: 0;
    transform: translateY(250px);
  }
}