@import '../../mixin.module';
@import '../../variables.module';

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    text-align: center;


    @include mediaqueries (medium) {
        margin-top: 10vh;
    }

    &__text {
        font-family: $krona;
        font-size: 2rem;
        line-height: 127.5%;
        z-index: 1;

        @include mediaqueries (medium) {
            font-size: 2.25rem;
        }

        @include mediaqueries (large) {
            font-size: 3rem;
        }

        @include mediaqueries (xxlarge) {
            font-size: 3.5rem;
        }
    }

    &__accent {
        color: $bg-color-primary;
        text-shadow:
            $accent-color-secondary 1px 0px 0px,
            $accent-color-secondary 0.540302px 0.841471px 0px,
            $accent-color-secondary -0.416147px 0.909297px 0px,
            $accent-color-secondary -0.989992px 0.14112px 0px,
            $accent-color-secondary -0.653644px -0.756802px 0px,
            $accent-color-secondary 0.283662px -0.958924px 0px,
            $accent-color-secondary 0.96017px -0.279415px 0px;
        transition: all .5s ease-out;

        &:hover {
            color: $accent-color-secondary;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
        }
    }

    &__mail {
        display: block;
        margin-top: 1.25rem;
        color: $typography-color-primary;
        text-decoration: underline;
        text-decoration-color: $accent-color-secondary;
        padding: .5rem;

        @include mediaqueries (medium) {
            text-decoration: none;
        }

        &:after {
            @include mediaqueries (medium) {
                content: '';
                display: block;
                width: 70%;
                height: 3px;
                margin: 4px auto;
                background-color: $accent-color-secondary;
                transition: all .5s ease;
                width: 0;
                height: 5px;
            }
        }

        &:visited {
            color: $typography-color-primary
        }

        &:hover {
            color: $typography-color-primary;

            &:after {
                width: 100%;
            }
        }
    }

    &__img {
        position: absolute;
        width: 100vw;
        height: 70vh;
        margin: 0 auto;
        opacity: .8;

        @include mediaqueries (xlarge) {
            width: 85vw;
            height: 70vh;
            top: -2.5%;
        }
    }

    &__canvas {
        @include mediaqueries (xlarge) {
            max-width: 1445px;
            max-height: 630px;
        }
    }

    &__span {
        display: block;
        overflow: hidden;
    }

    &__animation-element {
        display: block;
        opacity: 0;
        transform: translateY(200px);
    }
}