// Colors -------------------
$bg-color-primary: #171916;

$typography-color-primary: #fde8e6;
$typography-color-secondary: #a69997;

$accent-color-primary: #c7303c;
$accent-color-secondary: #34c8ae;

$shadow-color: #0d0f0c;

$link-color: $typography-color-secondary;
$link-hover-color: $accent-color-primary;
$link-visited-color: #6f2429;


// Typography -------------------
// Fontface 

$krona: 'Krona One', sans-serif;
$lexend: 'Lexend', sans-serif;

// Responsive breakpoints -------------------
$breakpoints: (
    small: (min-width: 460px),
    medium: (min-width: 768px),
    large: (min-width: 1024px),
    xlarge: (min-width: 1440px),
    xxlarge: (min-width: 1920px)
);

// Sections margin -------------------
$section-margin: 20vh;